.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.buttons {
    text-align: right;
    display: block !important;
    margin: 20px 10px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

    &.list {
        grid-template-columns: 1fr;
    }

    .col {
        width: calc(100% - 20px);
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}
